{% extends "base.html" %}
{% block content %}
<h2>Select a book by entering the title</h2>
<form action="/title.html" method="post">
    {% csrf_token %}
    {{ form.author_name }}
    {{ form.author_olid }}
    
    {% if request.session.collection_first_work %}
        <input type="hidden" name="collection_title" value="{{ request.session.collection_first_work.title }}">
        <input type="hidden" name="collection_work_olid" value="{{ request.session.collection_first_work.work_olid }}">
        <input type="hidden" name="collection_author_names" value="{{ request.session.collection_first_work.author_names }}">
        <input type="hidden" name="collection_author_olids" value="{{ request.session.collection_first_work.author_olids }}">
        <input type="hidden" name="collection_publisher" value="{{ request.session.collection_first_work.publisher }}">
    {% endif %}
    
    <div class="form-group">
        {{ form.title }}
    </div>
    <input type="submit" value="Submit">
</form>
<br>
<a href="/author/">Set or change author</a>
{% endblock %}