{% extends "base.html" %}
{% block title %}Add a Book - Select Title{% endblock %}
{% block content %}
<h2>Select a book by entering the title</h2>
<form action="/title.html" method="post">
    {% csrf_token %}
    {{ form.author_name }}
    {{ form.author_olid }}
    
    {# Add search_term to hidden fields #}
    <input type="hidden" name="search_term" value="{{ request.GET.search_term }}">
    
    {# Debug output #}
    <!-- Debug: {{ form.hidden_fields }} -->
    
    {# Explicit hidden fields using collection_data #}
    <input type="hidden" name="first_work_title" value="{{ collection_data.first_work_title|default:'' }}">
    <input type="hidden" name="first_work_olid" value="{{ collection_data.first_work_olid|default:'' }}">
    <input type="hidden" name="first_work_author_names" value="{{ collection_data.first_work_author_names|default:'' }}">
    <input type="hidden" name="first_work_author_olids" value="{{ collection_data.first_work_author_olids|default:'' }}">
    
    {# Include any other hidden fields that were added to the form #}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    
    <div class="form-group">
        {{ form.title }}
    </div>
    <input type="submit" value="Submit">
</form>
<br>
<a href="/author/">Set or change author</a>
{% endblock %}